/* Adicionando CSS */
/* Com seletor 'TAG' */
h1{
    color:chartreuse;
    font-size: 20px;
}
p{
    font-weight: bold;
}

/* Adicionando CSS */
/* com seletor 'id' */
/* ID não pode ser compartilhado */
#parag2{
    color:rgb(0, 94, 255);
    font-size: 20px;
}

/* Adicionando CSS */
/* com seletor 'class' */
.p-texto{
    color:fuchsia;
    font-size: 30px
}